.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  max-height: 65px;
}

.main_nav a {
  font-weight: bold;
  color: #2c3e50;

  i {
    margin-right: 6px;
  }
}

.main_nav a.router-link-exact-active {
  color: #42b983;
}

.main_nav_item {
  text-decoration: none;
  margin-right: 0.5rem;
  cursor: pointer;
}

.main_nav_item:hover {
  text-decoration: underline;
}

.main_nav_logo {
  display: flex;
  align-items: center;
}

.main_nav_logo_image {
  max-width: 100%;
  width: 200px;
}
