.sign_in_button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border: 0;
  background-color: #00bc77;
  color: #fff;
}

.sign_in_content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;

  h1 {
    text-align: center;
    margin: 1.25rem 0;
  }
}

.sign_in_icon {
  font-size: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.input_remember {
  display: flex;
}

.input_remember label {
  margin-left: 0.25rem;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input_wrapper label {
  font-weight: bold;
}

.input_wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
