.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
}

.account_amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account_amount_description {
  margin: 0;
}

.account_title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account_content_wrapper {
  width: 100%;
  flex: 1;
}

.edition_wrapper {
  margin-top: 20px;

  .edition_inputs {
    display: flex;
    align-items: center;
    gap: 20px;

    input {
      padding: 5px;
      font-size: 1.2rem;

      &:focus {
        outline-width: 0;
      }
    }
  }

  .edition_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.edit_button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  margin-top: 1.5rem;
  min-width: 100px;
}

.header {
  color: #fff;
  margin-top: 1.25rem;
  text-align: center;
}

.transaction_button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  margin-left: auto;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }

  .account_content_wrapper.cta {
    flex: 0;
  }

  .transaction_button {
    width: 200px;
  }
}
